.logo_outer_container {
    text-align:center;
    border: 0px solid red;
}

.logo_inner_container {
    border: 0px solid blue;
    width: 1170px;
    display:inline-block;
}

.logo {
    height: 110px;
    float:left;
    padding-bottom: 10px;
}

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
    font-family: Arial, Helvetica, sans-serif; 
    color: black
}
.bootstrap-iso form button, .bootstrap-iso form button:hover {
    color: white !important;
}
.asteriskField {
    color: red;
}